<% include partials/header.ejs %>
<h1>Add Customer</h1>

<form method="post" enctype="multipart/form-data">
  <label for="employeeID">Enter the EmployeeID: </label>
  <input type="text" name="employeeID" id="employeeID" />
  <br />

  <label for="customerEmail">Customer Email</label>
  <input type="text" name="customerEmail" id="customerEmail" /><br />

  <label for="fName">First Name: </label>
  <input type="text" name="fName" id="fName" /><br />

  <label for="lName">Last Name: </label>
  <input type="text" name="lName" id="lName" /><br />

  <label for="cPhone">Customer Phone: </label>
  <input type="text" name="cPhone" id="cPhone" /><br />

  <input type="submit" name="submit" value="Submit" />
</form>

<a href="/customers">Back to Customers</a>
