<h1>Add Customer</h1>

<form method="post" enctype="multipart/form-data">
    <label for="employeeID">Employee ID</label>
    <input type="text" name="employeeID" id="employeeID">
    <br />

    <label for="ePassword">Password: </label>
    <input type="text" name="ePassword" id="ePassword"><br />

    <label for="fName">First Name: </label>
    <input type="text" name="fName" id="fName" /><br />
  
    <label for="lName">Last Name: </label>
    <input type="text" name="lName" id="lName" /><br />
  
    <label for="phoneNum">Phone Number: </label>
    <input type="text" name="phoneNum" id="phoneNum" /><br />
  
    <input type="submit" name="submit" value="Submit" />
  </form>
  
  <a href="/employees">Back to Employees</a>
  