<% include partials/header.ejs %>
<h2>Customers</h2>

<ul>
  <li>
    <a href="./addCustomer"><strong>Add Customer</strong></a>
  </li>
  <li>
    <a href="./editCustomer"><strong>Edit Customer</strong></a>
  </li>
  <li>
    <a href="./searchCustomers"><strong>Search Customers</strong></a>
  </li>
  <li>
    <a href="./deleteCustomers"><strong>Delete Customers</strong></a>
  </li>
</ul>

<a href="/">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
