<% include partials/header.ejs %>
<h1>Delete Customers</h1>

<form method="post" enctype="multipart/form-data">
  <label for="customerEmail">Enter Customer Email to delete:</label>
  <input type="text" name="customerEmail" id="customerEmail" /><br />

  <input type="submit" name="submit" value="Submit" />
</form>

<a href="/customers">Back to Customers</a>
