<% include partials/header.ejs %>
<h2>Employees</h2>

<ul>
  <li>
    <a href="./addEmployee"><strong>Add Employee</strong></a>
  </li>
</ul>

<a href="/">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
