<% include partials/header.ejs %>
<h2>Products</h2>
<ul>
  <li>
    <a href="/products/all"><strong>View All products</strong></a>
  </li>
  <li>
    <a href="/products/update"><strong>Liquidate by Sport</strong></a>
  </li>

  <li>
    <a href="/products/viewCountRentable"
      ><strong>View Amount of Available Rentals</strong></a
    >
  </li>
</ul>

<a href="/">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
