<h2>Products</h2>

<ul>
  <li>
    <a href="./views/allProducts"
      ><strong>View All products</strong></a
    >
  </li>
  <li>
    <a href="./views/racquets"
      ><strong>View Racquets</strong></a
    >
  </li>
  <li>
    <a href="./views/goggles"
      ><strong>View Goggles</strong></a
    >
  </li>
  <li>
    <a href="./views/curlingBrooms"
      ><strong>View Curling Brooms</strong></a
    >
  </li>
  <li>
    <a href="./views/clubs"
      ><strong>View Clubs</strong></a>
  </li>
</ul>

<a href="/index">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />