<h2>Products</h2>
<ul>
  <li>
    <a href="./views/allProducts"><strong>View All products</strong></a>
  </li>
  <li>
    <a href="/products/viewRacquets"><strong>View Racquets</strong></a>
  </li>
  <li>
    <a href="/products/viewGoggles"><strong>View Goggles</strong></a>
  </li>
  <li>
    <a href="/products/viewCurlingBrooms"
      ><strong>View Curling Brooms</strong></a
    >
  </li>
  <li>
    <a href="/products/viewClubs"><strong>View Clubs</strong></a>
  </li>
  <li>
    <a href="/products/viewSpecificGoggles"><strong>Search Goggles</strong></a>
  </li>

  <li>
    <a href="/products/viewCountRentable"
      ><strong>View Amount of Available Rentals</strong></a
    >
  </li>
</ul>

<a href="/index">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
