<% include partials/header.ejs %>
<div class="table-wrapper">
    <a href="/transactions">Back to Transactions</a>
    <h2>Find Customer Transaction History</h2>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <% if (message != '') { %>
      <p class="text-center text-danger"><%= message %></p>
      <% } %>
    <form method="post">
        <label for="fName">First Name </label>
        <input type="text" id="fName" name="fName">
        <label for="employeeID">ID </label>
        <input type="text" id="employeeID" name="employeeID">
        <label for="password">Password </label>
        <input type="password" id="password" name="password">
        <input type="submit" name="submit" value="View Results">
    </form>
  <% if (products.length > 0) {%>
<style>
  .tableData{
  color:black;
}
  </style>
  

  <!-- View training sessions-->
    <body>
    <table class="table table-hovered">
      <thead class="thead-dark">
        <!-- Display columns for session-->
        <h2>Results</h2>
        <blockquote>All products placed by Employee </blockquote>
      <tr>
        <th scope="col">Amount Sold</th>
        <th scope="col">Dollar Sold</th>

      </tr>
      </thead>
      <!-- Add booked  sessions to table -->
      <tbody>
      <% products.forEach((product, index) => { %>
        <tr>
          <th scope="row" class="tableData"><%= product.amountSold %></th>
          <td class="tableData"><%= product.dollarSold %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <!-- Default text if no transactions-->
    <blockquote>No results found for product by employee</blockquote>
  <% } %>
</div>
</div>
</body>
</html>
