<% include partials/header.ejs %>
<div class="table-wrapper">
  <% if (transactions.length > 0) {%>
<style>
  .tableData{
  color:black;
}
  </style>
<a href="/transactions">Back to Transactions</a>
  <!-- View training transactions-->
    <body >
    <table class="table table-hovered">
      <thead class="thead-dark">
        <!-- Display columns for transaction-->
      <tr>
        <th>Customer Email</th>
        <th>Total Spent</th>
      </tr>
      </thead>
      <!-- Add booked  transactions to table -->
      <tbody>
      <% transactions.forEach((transaction, index) => { %>
        <tr>
          <th scope="row" class="tableData"><%= transaction.customerEmail %></th>
          <td class="tableData"><%= transaction.totalSpent %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <a href="/transactions">Back to Transactions</a>
  <% } %>
</div>
</div>
</body>
</html>
