<% include partials/header.ejs %>
<h2>Transactions</h2>

<ul>
  <li>
    <a href="./transactions/processTransaction"
      ><strong>Process a Transaction</strong></a
    >
  </li>
  <li>
    <a href="./transactions/transactionHistory"
      ><strong>Store Transaction History</strong></a
    >
  </li>
  <li>
    <a href="./transactions/employeeTransRecord"
      ><strong>Employee Transaction Record</strong></a
    >
  </li>
  <li>
    <a href="./transactions/customerTransRecord"
      ><strong>Customer Transaction Record</strong></a
    >
  </li>
  <li>
    <a href="./transactions/customerGrandTotal"
      ><strong>Grand Total of each Customer</strong></a
    >
  </li>
  <li>
    <a href="./transactions/transactionsOnDate"
      ><strong>Total Transactions On This Date</strong></a
    >
  </li>
</ul>

<a href="/">Back to home</a>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
