<% include partials/header.ejs %>
<h2>Process a Transaction</h2>
<% if (message != '') { %> <% if (message == "Success!") { %>
<p class="text-center text-success">
  <%= message %>
</p>
<% } else {%>
<p class="text-center text-danger"><%= message %></p>
<% } }%>
<form method="post" enctype="multipart/form-data">
  <label>Transaction ID is<%= transactions.transactionID %></label>
  <br />

  <label for="employeeID">Provide your employeeID: </label>
  <input type="text" name="employeeID" id="employeeID" />

  <label for="customerEmail">Customer Email: </label>
  <input type="text" name="customerEmail" id="customerEmail" />

  <label for="totalPrice">Total: </label>
  <input type="text" name="totalPrice" id="totalPrice" />

  <input type="submit" name="submit" value="Submit" />
</form>

<a href="/transactions">Back to Transactions</a>
