
<style>
    .tableData{
        color:white;
    }

</style> 
<div class="table-wrapper">
    <a href="/products">Back to Products</a>
    <h2>Find Specific Racquets</h2>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <form method="post">
        <label for="ageGroup">Age Group</label>
        <input type="text" id="ageGroup" name="ageGroup">
        <input type="submit" name="submit" value="View Results">
    </form>

<!-- View list of all equipment-->
<div class="table-wrapper">
  <h2 class="tableData">View Racquets Based on Age Group</h2>
  <!-- Adds titles to table-->
  <% if (Racquet.length > 0) {%>
    <body>
    <table class="table table-hovered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Product Number</th>
        <th scope="col">Racquet Length</th>
        <th scope="col">Age Group</th>
        <th scope="col">Racquet Weight</th>
      </tr>
      </thead>
      <tbody>
        <!-- Retrieves equipment and displays in table-->
      <% Racquet.forEach((racquet, index) => { %>
        <tr>
          <th scope="row" class="tableData"><%= racquet.productNo %></th>
          <td class="tableData"><%= racquet.rLength %></td>
          <td class="tableData"><%= racquet.ageGroup %></td>
          <td class="tableData"><%= racquet.rWeight %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p class="text-center" class="tableData">Nothing found!</p>
  <% } %>
</div>
</div>
</body>
</html>